.bg-second
  .container.about-page-container

    %h3 About Vector Construct

    %p ACS Construction Group Ltd is a leading North West based Civil Engineering & Building Contractor. Our head office is in Cheshire, located centrally in the UK to serve our clients nationwide.

    %p Formed in 1997, we are Achilles approved and carry out full civil engineering and building works packages including groundworks, drainage and concrete packages across the North and South of England up to the value of £10m.

    %p We work for a select group of clients, which comprise a mix acting as the Principle Contractor (National Grid, Centrica, SSE and Lee Valley Park Authority) as well as working for a few main contractors.

    %h3 Our People

    %p Our clients know that what makes their projects run smoothly is the professionalism, skill and experience of the people who work on them. The right people care about the work they do, are active in helping the client overcome challenges and are an asset on the project.

    %p Whilst skills can be taught the all-important professionalism and maturity cannot. We decided years ago that to be a high-quality civil engineering and construction firm, ACS would need to recruit on the things that cannot be taught so that both ourselves and our clients know that only the best people are going to turn up on site.

    %p We carry around 100 of our own skilled tradesmen, technical and support teams, which supports us delivering high quality schemes at the best value. We supplement this with our loyal and long standing supply chain to suit each contract.

    %p The same logic is applied to our supply chain – our relationships with them are long-standing and are based on an understanding of what we expect of them. And it works: we notice the difference – and you will too.

    %h3 Services

    %p ACS provides services to a number of sectors including the education, commercial/industrial, government, utilities/infrastructure, leisure, energy and renewable energy sectors.

    %p We have successfully completed construction projects across the UK within diverse and complex environments, for the public and private sector.

    %p We are extremely dedicated to the projects we work on and seek to offer the most comprehensive and efficient delivery possible.

    %p We have an enviable reputation of providing safe and responsible building and civil engineering services, achieving project completion within budget and to the highest standards of quality.
